[submodule "public/vendor/rAF"]
	path = public/vendor/rAF
	url = git://gist.github.com/1579671.git
[submodule "public/core/vendor/underscore"]
	path = public/core/vendor/underscore
	url = git://github.com/documentcloud/underscore.git
